# Compiled binaries and executables
main
a.out
*.out
*.exe
*.app

# Object files and libraries
*.o
*.obj
*.a
*.lib
*.so
*.dylib

# Dependency files
*.d

# IDEs and editors
.vscode/
.idea/
*.suo
*.user

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
